# SageLang compiler build folders
sagelang_build/
build_sage/
assets/wiz/

# Build utilities
glslangValidator

# Compiled shaders
*.spv

# OS and Editor files
.DS_Store
.vscode/
.idea/
*.swp
*~

# Build artifacts and deps
out.c
sagemusic
sagemusic.c
deps/
assets/sfz/
.blackboxcli/
src/layout/layout
